`include "uvm_macros.svh"
import uvm_pkg::*;
import u_fpkg::*;
class scoreboard extends uvm_scoreboard;
    `uvm_component_utils(scoreboard)
    uvm_analysis_imp #(transaction, scoreboard) item_collected_export;
    int fifo [$];
    logic [7:0] expected;
    int pass = 0;
    int fail = 0;

        function new(string name = "scoreboard",uvm_component parent = null);
            super.new(name,parent);
            item_collected_export = new("item_collected_export", this);
        endfunction

        function build_phase (uvm_phase phase);
            super.build_phase(phase);
        endfunction

        function void write(transaction req);
            bit did_pop = 0;
                $display("transaction recieved from monitor rst_n = %0b || w_en = %0b || rd_en = %0b || data_in = %0b || data_out = %0b",
                            req.rst_n,req.write_en,req.read_en,req.data_in,req.data_out);
                if(req.write_en && (fifo.size() < 8)) begin
                    fifo.push_back(req.data_in);
                end
                if(req.read_en && (fifo.size() > 0))begin
                    expected = fifo.pop_front();
                    did_pop = 1;
                end
                
                if((fifo.size() == 8) !== req.full) $display("full mismatch expected = %0d || got = %0d",fifo.size(),req.full);
                if((fifo.size() == 0) !== req.empty) $display("empty mismatch expected = %0d || got = %0d",fifo.size(),req.empty);
                if(did_pop) begin
                    if(expected !== req.data_out) begin
                        `uvm_info("RESuLT",$sformatf("test failed rst_n = %0b | expected = %0b || data_in = %0b || got :: w_en = %0b || rd_en = %0b || data_out = %0b ",
                                    req.rst_n, expected, req.data_in, req.write_en, req.read_en, req.data_out),UVM_HIGH)
                        $display("\n=========================================\n");
                        fail++;
                    end
                    else begin 
                        `uvm_info("RESULT",$sformatf("test passed expected :: %0b || data out = %0d ",expected,req.data_out),UVM_HIGH)
                        $display("\n=========================================\n");
                        pass++;
                    end
                end       
        endfunction

    function void report_phase(uvm_phase phase);
        super.report_phase(phase);
        `uvm_info("SCOREBOARD_REPORT",
            $sformatf("TEST DONE : PASS = %0d, FAIL = %0d", pass, fail), UVM_NONE)
        if (fail == 0)
            `uvm_info("SCOREBOARD_REPORT", "*** TEST PASSED ***", UVM_NONE)
        else
            `uvm_error("SCOREBOARD_REPORT", "*** TEST FAILED ***")
    endfunction
endclass